{% extends "base2.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-widget widget-user">
        <div class="widget-user-header bg-aqua-active" style="background: url('{{userdata.profile.background_img}}') center center;">
          <h3 class="widget-user-username"><b>@{{userdata.profile.name}}</b> {{userdata.profile.screen_name}} </h3>
          <h5 class="widget-user-desc">{{userdata.profile.description}}</h5>
        </div>

        <div class="widget-user-image">
          <img class="img-circle" src="{{userdata.profile.img}}" alt="User Avatar">
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-2 border-right ">
              <div class="description-block label-success success-profile">
                <span class="description-text">TWEET</span>
                <h5 class="description-header">{{userdata.profile.tweets_count}}</h5>
              </div>
            </div>
            <div class="col-sm-2 border-right ">
              <div class="description-block label-success success-profile">
                <span class="description-text">FOLLOWER</span>
                <h5 class="description-header">{{userdata.profile.follower}}</h5>
              </div>
            </div>
            <div class="col-sm-2 border-right ">
              <div class="description-block label-success success-profile">
                <span class="description-text">FOLLOWING</span>
                <h5 class="description-header">{{userdata.profile.following}}</h5>
              </div>
            </div>
            <div class="col-sm-2 border-right ">
              <div class="description-block label-success success-profile">
                <span class="description-text">LISTED</span>
                <h5 class="description-header">{{userdata.profile.listed}}</h5>
              </div>
            </div>
            <div class="col-sm-2 border-right ">
              <div class="description-block label-success success-profile">
                <span class="description-text">RATIO</span>
                <h5 class="description-header">{{userdata.profile.followers_ratio}}</h5>
              </div>
            </div>
            <div class="col-sm-2 ">
              <div class="description-block label-success success-profile">
                <span class="description-text">DIBUAT TANGGAL</span>
                <h5 class="description-header">{{userdata.profile.created}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    
    <!-- Tweet Analisis -->
    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Tweets Analytics</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="box-body box-tweet-analisis">

          <div class="row">
            <!-- User Mention Count -->
            <div class="col-lg-6">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{userdata.analisis.usermention_count}} <span style="color:#ccc;font-size:16px">/ 100</span></h3>

                  <p>
                    User Mentions
                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Jumlah tweet yang mengandung mentions. Semakin tinggi angkanya, menandakan kamu semakin sering berinteraksi dengan orang lain"></i>
                  </p>
                </div>
                <div class="icon">
                  <i class="fa fa-comment"></i>
                </div>
              </div>
            </div>
            <!-- User Mention Count End -->

            <!-- Hastag Count -->
            <div class="col-lg-6">
              <div class="small-box bg-green">
                <div class="inner">
                 <h3>{{userdata.analisis.hastag_count}}<span style="color:#ccc;font-size:16px">/ 100</span></h3>

                  <p>
                    Hastags
                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Jumlah tweet yang mengandung hastags. Semakin tinggi angkanya, semakin besar kemungkinan tweet kamu terdapat di pencarian "></i>
                  </p>
                </div>
                <div class="icon">
                  <i class="fa fa-hashtag"></i>
                </div>
              </div>
            </div>
            <!-- User Count End -->

            <!-- Replay Count -->
            <div class="col-lg-6">
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{userdata.analisis.replay_count}} <span style="color:#ccc;font-size:16px">/ 100</span></h3>

                  <p>
                    Replays
                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Jumlah tweet dari kamu yang direplay orang lain. Semakin tinggi angkanya, menandakan kamu semakin sering berinteraksi dengan orang lain"></i>
                  </p>
                </div>
                <div class="icon">
                  <i class="fa fa-reply"></i>
                </div>
              </div>
            </div>
            <!-- Replay Count End -->

            <!-- Retweet Count -->
            <div class="col-lg-6">
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{userdata.analisis.retweet_count}} <span style="color:#ccc;font-size:16px">/ 100</span></h3>

                  <p>
                    Retweet
                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Jumlah tweet dari orang lain yang kamu retweet. Semakin tinggi angkanya, menandakan kamu semakin sering berinteraksi dengan orang lain"></i>
                  </p>
                </div>
                <div class="icon">
                  <i class="fa fa-retweet"></i>
                </div>
              </div>
            </div>
            <!-- Replay Count End -->

            <!-- Links Count -->
            <div class="col-lg-6">
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{userdata.analisis.link_count}} <span style="color:#ccc;font-size:16px">/ 100</span></h3>

                  <p>
                    Links
                     <i class="fa fa-question-circle " data-toggle="tooltip" data-placement="right" title="Jumlah tweet dari kamu yang mengandung link / url"></i>
                  </p>
                </div>
                <div class="icon">
                  <i class="fa fa-link"></i>
                </div>
              </div>
            </div>
            <!-- Links Count End -->

            <!-- Links Count -->
            <div class="col-lg-6">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{userdata.analisis.media_count}} <span style="color:#ccc;font-size:16px">/ 100</span></h3>

                  <p>
                    Media
                    <i class="fa fa-question-circle " data-toggle="tooltip" data-placement="right" title="Jumlah tweet dari kamu yang menggunakan media (photo/video)."></i>
                  </p>
                </div>
                <div class="icon">
                  <i class="fa fa-picture-o"></i>
                </div>
              </div>
            </div>
            <!-- Links Count End -->

          </div>
        </div>
      </div>
    </div>
    <!-- Tweet Analisis End -->
    
    <div class="col-md-6">
      <div class="row">

        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">List Link/Url</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <ul class="products-list product-list-in-box mention-list">
                {% for i in userdata.url_obj %}
                <li class="item">
                  <div class="product-img mention-img">
                    <i class="fa fa-circle" style="color:{{i.color}}"></i>
                  </div>
                  <div class="product-info mention-info">
                    <a href="{{i.key}}" class="product-title">{{i.label}}
                      <span class="label label-warning pull-right">{{i.value}}</span></a>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">URL Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart-responsive">
                <canvas id="tweetSource" height="150"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
       <div class="row">
          <div class="col-md-6">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Hastag Most Used</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body">
                <ul class="products-list product-list-in-box mention-list">
                  <li class="item">
                    <div class="product-img mention-img">
                      <img src="dist/img/default-50x50.gif" alt="User Image">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">#harefa
                        <span class="label label-warning pull-right">20</span></a>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img mention-img">
                      <img src="dist/img/default-50x50.gif" alt="User Image">
                    </div>
                    <div class="product-info mention-info">
                      <a href="javascript:void(0)" class="product-title">#darma
                        <span class="label label-info pull-right">10</span></a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>
    </div>

    <div class="col-md-6">
      <div class="row">
       <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">User Most Mentioned</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <ul class="products-list product-list-in-box mention-list">
                <li class="item">
                  <div class="product-img mention-img">
                    <img src="dist/img/default-50x50.gif" alt="User Image">
                  </div>
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">@Darmah24
                      <span class="label label-warning pull-right">20</span></a>
                  </div>
                </li>
                <!-- /.item -->
                <li class="item">
                  <div class="product-img mention-img">
                    <img src="dist/img/default-50x50.gif" alt="User Image">
                  </div>
                  <div class="product-info mention-info">
                    <a href="javascript:void(0)" class="product-title">@MisterDev25
                      <span class="label label-info pull-right">10</span></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
       </div>
       <div class="col-md-6">
         
       </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <!-- Tweet History -->
    <div class="col-md-6">
      <!-- TWEET PER MONTH CHART -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Analysis Tweet Per Bulan</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <canvas id="tweetPerMonth" style="height:250px"></canvas>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>

    <div class="col-md-6">
     <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Analysis Tweet Per Hari</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <canvas id="tweetPerDays" style="height:230px"></canvas>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- Tweet History End -->
  </div>

  <!-- Premium User -->

</section>
{% endblock %}


{% block optional %}
<script>

  var tweetPerMonth = {
    labels: ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli","Agustus", "September", "Oktober", "November", "Desember"],
      datasets: [
        {
          label: "Tweets",
          fillColor: "rgba(210, 214, 222, 1)",
          strokeColor: "rgba(210, 214, 222, 1)",
          pointColor: "rgba(210, 214, 222, 1)",
          pointStrokeColor: "#c1c7d1",
          pointHighlightFill: "#fff", 
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: [{{userdata.monthTweet | safe}}] 
        }
      ]
    };

  var tweetPerDays  = {
    labels: ["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"],
    datasets: [
      {
        label: "Tweets",
        fillColor: "rgba(210, 214, 222, 1)",
        strokeColor: "rgba(210, 214, 222, 1)",
        pointColor: "rgba(210, 214, 222, 1)",
        pointStrokeColor: "#c1c7d1",
        pointHighlightFill: "#fff", 
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [{{userdata.dayTweet | safe}}] 
      }
    ]
  };

  var tweetSource   = [{{userdata.url_final | safe}}];

  var areaChartOptions  = {
    //Boolean - If we should show the scale at all
    showScale: true,
    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines: false,
    //String - Colour of the grid lines
    scaleGridLineColor: "rgba(0,0,0,.05)",
    //Number - Width of the grid lines
    scaleGridLineWidth: 1,
    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,
    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines: true,
    //Boolean - Whether the line is curved between points
    bezierCurve: true,
    //Number - Tension of the bezier curve between points
    bezierCurveTension: 0.3,
    //Boolean - Whether to show a dot for each point
    pointDot: false,
    //Number - Radius of each point dot in pixels
    pointDotRadius: 4,
    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth: 1,
    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius: 20,
    //Boolean - Whether to show a stroke for datasets
    datasetStroke: true,
    //Number - Pixel width of dataset stroke
    datasetStrokeWidth: 2,
    //Boolean - Whether to fill the dataset with a color
    datasetFill: true,
    //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
    maintainAspectRatio: true,
    //Boolean - whether to make the chart responsive to window resizing
    responsive: true
  };

  var barChartOptions   = {
    //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero: true,
    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines: true,
    //String - Colour of the grid lines
    scaleGridLineColor: "rgba(0,0,0,.05)",
    //Number - Width of the grid lines
    scaleGridLineWidth: 1,
    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,
    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines: true,
    //Boolean - If there is a stroke on each bar
    barShowStroke: true,
    //Number - Pixel width of the bar stroke
    barStrokeWidth: 2,
    //Number - Spacing between each of the X value sets
    barValueSpacing: 5,
    //Number - Spacing between data sets within X values
    barDatasetSpacing: 1,
    //Boolean - whether to make the chart responsive
    responsive: true,
    maintainAspectRatio: true
  };

    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $("#tweetSource").get(0).getContext("2d");
    var pieChart = new Chart(pieChartCanvas);

    var pieOptions = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke: true,
      //String - The colour of each segment stroke
      segmentStrokeColor: "#fff",
      //Number - The width of each segment stroke
      segmentStrokeWidth: 2,
      //Number - The percentage of the chart that we cut out of the middle
      percentageInnerCutout: 50, // This is 0 for Pie charts
      //Number - Amount of animation steps
      animationSteps: 100,
      //String - Animation easing effect
      animationEasing: "easeOutBounce",
      //Boolean - Whether we animate the rotation of the Doughnut
      animateRotate: true,
      //Boolean - Whether we animate scaling the Doughnut from the centre
      animateScale: false,
      //Boolean - whether to make the chart responsive to window resizing
      responsive: true,
      // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio: true,
    };

    pieChart.Doughnut(tweetSource, pieOptions);

  //-------------
  //- TWEET PER MOUNT CHART -
  //--------------
  var lineChartCanvas             = $("#tweetPerMonth").get(0).getContext("2d");
  var lineChart                   = new Chart(lineChartCanvas);
  var lineChartOptions            = areaChartOptions;
  lineChartOptions.datasetFill    = false;
  lineChart.Line(tweetPerMonth, lineChartOptions);

  //-------------
  //- TWEET PER DAY CHART -
  //-------------
  var barChartCanvas                    = $("#tweetPerDays").get(0).getContext("2d");
  var barChart                          = new Chart(barChartCanvas);
  var barChartData                      = tweetPerDays;
  barChartData.datasets[0].fillColor    = "#00a65a";
  barChartData.datasets[0].strokeColor  = "#00a65a";
  barChartData.datasets[0].pointColor   = "#00a65a";
  barChartOptions.datasetFill           = false;
  barChart.Bar(barChartData, barChartOptions);

  //-------------
  //- TWEET SOURCE(BROWSER) CHART -
  //-------------
  // Get context with jQuery - using jQuery's .get() method.
  var pieChartCanvas = $("#tweetSource").get(0).getContext("2d");
  var pieChart = new Chart(pieChartCanvas);
  pieChart.Doughnut(tweetSource, pieOptions);

</script>
{% endblock %}
